/* Start Header */
header {
    height: 100vh;
    background-image: url('../assets/img/building1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

.navbar {
    background-color: white;

}

.banners {
    width: 50%;

    position: absolute;

    background: rgba(0, 0, 0, 0.6);
    color: white;
    top: 30%;
    transform: translate(50%);
    padding: 20px;


}

@media (max-width:965px) {
    .banners {
        width: 70%;
        position: absolute;
        transform: translateX(30%);
    }
}

/* End Header */

/* Start Upper */
.upper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
}

.box {
    width: 300px;
    height: 150px;
    border: 1px solid black;
    background-color: wheat;
    text-align: center;
    margin: 30px;
    padding: 20px;
}



/* End Upper */
/* Start Agent  */
#agent {
    background-color: beige;

}

.icons {
    color: orangered;
}

/* End Agent */

.clients {
    width: 30%;

    background-color: whitesmoke;
    border: 1px solid gray;
    padding: 40px;
    margin-left: 30px;
}

@media (max-width:992px) {
    .clients {
        width: 60%;
    }

}

#looking {
    height: 50vh;
    background: linear-gradient(360deg,
            rgba(23, 37, 146, 1.00),
            rgba(23, 37, 146, 0.5)),
        url('../assets/img/building2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}